@model IEnumerable<Obligatorio_Programacion_3.Models.ClienteListadoViewModel>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>
<p class="text-danger">@ViewBag.Error</p>
@using (Html.BeginForm("ClientesPorNombre", "Cliente", FormMethod.Get))
{
    <h2>Buscar por Nombre</h2>
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <div class="form-group">
        <label for="nombre" class="control-label"></label>
        <input id="nombre" name="nombre" type="text" class="form-control" />
    </div>

    <div class="form-group">
        <input type="submit" value="Buscar" class="btn btn-primary" />
    </div>
}
@using (Html.BeginForm("ClientesPorGasto", "Cliente", FormMethod.Get))
{
    <h2>Buscar por monto gastado</h2>
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <div class="form-group">
        <label for="monto" class="control-label"></label>
        <input id="monto" name="monto" type="number" class="form-control" />
    </div>

    <div class="form-group">
        <input type="submit" value="Buscar" class="btn btn-primary" />
    </div>
}

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.RazonSocial)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.RUT)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.RazonSocial)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.RUT)
            </td>
            <td>
                @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) 
            </td>
        </tr>
}
    </tbody>
</table>
